<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="beranda.html">
            <img src="assets/img/logo.svg" alt="Logo" width="45" class="me-2">
            <span class="d-flex flex-column">
                <span class="fw-bold">Pusat UPA Laboratorium Biosain</span>
                <small class="opacity-75">Politeknik Negeri Jember</small>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="beranda.html">Beranda</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Profile</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="tentang.html">Tentang</a></li>
                        <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Layanan</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="layanan.html">Layanan</a></li>
                        <li><a class="dropdown-item" href="fasilitas.html">Fasilitas</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="publikasi.html">Publikasi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="kontak.html">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>